/* Nav bar style (start) */
.nav-body {
    margin: 0;
    padding: 0; 
    font-size: 20px;
    background: #ffffff; /* Light background for contrast */
}

.navbar { 
    background: rgb(7, 30, 12);
    color: #ffffff;
    padding: 0px 0;
    display: flex;
    justify-content: center; 
    font-size: 20px; 
    font-weight: 70; 
    font-family: 'Lato', serif;  
    width: 100%; /* Ensure navbar extends full width */ 
    box-sizing: border-box; 
    align-items: center; /* Ensure items are vertically centered */
}

.navbar-logo{ 
    height: 60px;
} 

/* attribute selector */
img[src*="logo."]:hover {
    transform: rotate(90deg); /* Rotate on hover */ 
    border: 2px solid rgb(19, 89, 0);
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
    align-items: center; /* Ensure menu items are vertically centered */
}

.menu-item {
    padding: 20px 30px;
    position: relative; 
    text-decoration: None; 
    color: #f9f4f4;
}

.menu-item a {
    text-decoration: none;  
     position: relative; 
}

.menu-item:hover {
    background: #333;
} 

.menu-item:focus {
    outline: 2px solid #8f9b91; /* Change outline color */
} 

.menu-item:focus .dropdown {
    display: block;    /* Show dropdown on hover */
}


.menu-item:hover .dropdown {
    display: block;    /* Show dropdown on hover */
}

.dropdown {
    display: none;    /* Hide dropdown by default */
    position: absolute;
    left: 0;
    top: 100%;    /* Position the dropdown right below the menu item */
    background: rgb(7, 30, 12);
    list-style: none;
    padding: 0;
    margin: 0;
    min-width: 150px;    /* Ensure a minimum width for dropdown items */
}

.dropdown-item {
    padding: 10px;
    color: #f9f4f4;
    display: block;    /* Dropdown items should take up full width */  
    text-decoration: none; /* Remove underline on hover */
}

.dropdown-item:hover {
    background: #6a6f6a;    /* Change background on hover */ 
    text-decoration: none; /* Remove underline on hover */
}

/* Nav bar style (end) */ 

@media (max-width: 600px) {
    .navbar {
        font-size: 12px; /* Reduce font size for mobile */
        flex-direction: row; /* Stack items vertically */
    }

    .menu {
        flex-direction: row; /* Stack menu items vertically */
    }

    .menu-item {
        padding: 20px 15px; /* Adjust padding for mobile */
    } 

    .navbar-logo{ 
        height: 40px; 
    } 
}