
body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
}

/* content (start) */

.container { 
    margin: 10px;
    padding: 10px;
    max-width: 1200px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding doesn't increase width beyond 100% */
    margin: 0 auto; /* Center the container horizontally */
}

nav {
    background-color: #006400; /* Dark Green */
    padding: 1em;
    color: white;
    text-align: center;
    font-size: 1.2em;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); 
}
th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #011e08; /* Light Orange */
    color: #ffffff; /* Dark Grey */
}
tr:nth-child(even) {
    background-color: #e1eeff; /* Light Green */
} 

tr:nth-child(odd) {
    background-color: #ffd8d8; /* Light Green */
}

tr:hover {
    background-color: #f1f1f1;
}
.footer {
    background-color: #006400; /* Dark Green */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* content (end) */